body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("../Images/Buy_Product/Background\ image.png") ;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card{
    border-radius: 30px;
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(45deg,black, #525f6e, #fbfbfb );
    box-shadow:  5px 5px 15px rgba(0,0,0,0.9);
}
.container:hover .card{
    box-shadow:  5px 5px 80px rgba(255, 255, 255, 0.9);
}
.container .card img{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 400px;
    transition: 0.5s;
}
.container .card:hover img{
    transition: 0.5s;
    left:73%;
    height: 500px;
}
.container .card .content{
    position: relative;
    width: 50%;
    left: 20% ;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.container .card:hover .content{
    left: 0;
    opacity: 1;
    visibility: visible;
}
.container .card .content h2{
    color: white;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}
.container .card .content p{
    color: white;
}
.container .card .content a{
    position: relative;
    color: rgb(0, 0, 0);
    background: white;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}
@media(max-width:991px){
    .container .card{
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }
    r .card:hover{
        height: 600px;
    }
    .container .card:hover img{
        left: 50%;
        height: 350px;
    }
    .container .card.content{
        width: 100%;
        left:0 ;
        padding: 40px;
    }
}


@media(max-width:767px){ 
    .container {
        flex-direction: column;
    }
    .container .card{
        margin: 40px 20px;
    }
}
@media(max-width:420px){ 
    .container .card .content{  
        padding: 30px;
    } 
    .container .card:hover img{
        height: 300px;
    }
}

